
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap');
body{
    font-family: "Lato", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}  
.section-title{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    line-height: 28px;
}
.common-btn{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #E55473;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid red;
}
.block-display{
    display: block;
}
/* common css end */
/* banner part start */
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    max-width: 710px;    
}
.banner-content .banner-text h1{
    font-size: 70px;
    font-weight: 800;
    color: #272727;
    line-height: auto;
}
.banner-text p{
    padding: 15px 0;
}
.banner-content .banner-image{
    max-width: 635px;
    height: auto;
}
.banner-content .banner-image img{
    width: 100%;
    height: 100%;
}
/* banner part end */
/* featured part start */
#featured{
    margin: 120px 0;
}
.featured-content{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.featured-content .featured-text{
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
}
.featured-text p{
    padding: 15px 0;
}
.featured-flower{
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
}
.flower-card{
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.flower-card .inner-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50% 50% 0 0;
}
.flower-card .inner-image img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.flower-card h6{
    font-size: 14px;
    font-weight: 600;
    color: #272727;
    text-decoration: underline;
}
.flower-card .color-1{
    background-color: #f2dee7;
}
.flower-card .color-2{
    background-color: #d9eff1;
}
.flower-card .color-3{
    background-color: #e3ebdb;
}
/* featured part end */
/* service part start */
.service-content{
    display: flex;
    justify-content: space-evenly;
}
.service-content .service-item{
    text-align: center;
}
/* deal part start */
.deal-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.deal-content .deal-text{
    max-width: 580px;
    text-align: center;
}
.deal-text p{
    padding: 15px 0;
}
.deal-image img{
    width: 100%;
    height: 100%;
}
/* deal part end */
/* instagram part start */
#instagram{
    margin: 100px 0;
}
.instagram-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instagram-text{
    max-width: 500px;
    text-align: center;
}
.instagram-text p{
    padding: 15px 0;
}
.instagram-image{
   display: flex;
   justify-content: space-around;
   column-gap: 10px;
   margin: 60px 0;
}
.instagram-image .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* instagram part end */
/* latest part start */
.latest-container{
    background-image: url(../asset/latst.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
}
.latest-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  black;
}
.latest-text{
    max-width: 800px;
    text-align: center;
}
.latest-text p{
    padding: 15px 0;
}
form input{
    border: none;
    width: 70%;
    background-color: #ffe5e5;
    padding: 12px 0 12px 10px;
}
/* latest part end */
